# Supabase Configuration
VITE_SUPABASE_URL=https://ezpflxkgwemymisdgkoe.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV6cGZseGtnd2VteW1pc2Rna29lIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY5NDQ3MDUsImV4cCI6MjA5MjUyMDcwNX0.MKFErh-QDACfAx5797AjvlIdA8ftKD6HWrvq-6LLO2w

# Google Gemini API
VITE_GEMINI_API_KEY=AIzaSyCWJRbHjaNLLfkJ_qPF46zaJy-tOPJP62A
